<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        bullet-list div.bullet-list {
            /* Sample Styling. You can style the editor however you want by styling the div inside `bullet-list` */
            background-color: rgb(219, 226, 220);
            border-radius: 1.25rem;
            border: 1px black solid;
            padding: 1rem;
            font-family: 'Nunito', 'sans-serif';
        }
    </style>

<body>
    <!-- Just a POC, still needs to be fine tuned -->
    <bullet-list></bullet-list> 

    <script src="Bullet.js" type="module"></script>
    <script src="BulletList.js" type="module"></script>
    <script src="sampleData.js" type="module"></script>
    <script src="sampleRender.js" type="module"></script>
    <script>
</script>
</body>
</html>