@import url("https://fonts.googleapis.com/css?family=Manrope");

/* Shared Styles */
* {
    font-family: 'Manrope', sans-serif;
  }

:root {
    --main-bg: rgba(229, 229, 229, 1);
    --light-bg: #f9f9f9;
    --light-text: rgb(166, 169, 173);
    --dark-text: black;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--menu-color);
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    margin: 1rem;
}

.menu > img {
    width: 3rem;
    height: 3rem;
}

.menu:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}


/* Page CSS */
html {
  height: 100%;
}

body {
  background-color: var(--light-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--light-bg);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pl-title {
  font-size: xx-large;
  text-align: center;
  margin: 1rem;
  border: none;
  background-color: var(--light-bg);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee4e1;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  margin: 1rem;
}

.menu > img {
  width: 3rem;
  height: 3rem;
}

.menu:hover {
  background-color: #ccb9b3;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#date-input-label {
  font-size: xx-large;
  text-align: center;
}

#dash {
  font-size: xx-large;
  text-align: center;
  margin-left: 1rem;
  margin-right: -1rem;
}

#bar {
  width: 100vw;
  height: 2rem;
  background-color: var(--main-bg);
}

.past-dailylogs-container {
  background-color: white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  height: 100%;
  width: 80%;
  margin: 1rem 0rem;
  padding: 0.5rem;
}