* {
    font-family: 'Nunito', sans-serif;
}
:root {
    --main-bg: rgba(229, 229, 229, 1);
    --light-bg: #f9f9f9;
    --light-text: rgb(166, 169, 173);
    --dark-text: black;
}
body{
    background-color: var(--main-bg);
    margin: 0;
    padding: 0;
}

/* Theme input */
#theme-input-container {
    --x-padding: 3rem;
    margin: 0;
    padding: 5rem var(--x-padding);
    width: calc(100% - 2*var(--x-padding));

    display: flex;
    flex-direction: column;
}
#theme-input-container > h1 {
    font-weight: medium;

    font-size: 1.5rem;
    line-height: 2rem;
}
#theme-input {
    background-color: var(--light-bg);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.02);
    border-width: 0.01rem;
    border-radius: 625rem;

    height: 2.5rem;
    padding: 0 1rem;
    
    font-size: 1rem;
}
#theme-input-container > * {
    margin: 2rem 0;
}

/* Theme suggestions */
#theme-suggestions {
    display: flex;
    flex-direction: column;
}
#theme-suggestions > a {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1rem 0rem;
    color: var(--light-text);

    cursor: pointer;
}
#theme-suggestions > a:hover {
    color: var(--dark-text);
}
@media screen and (min-width: 500px) {
    #theme-input-container {
        --x-padding: 5rem;
    }
    #theme-input-container > h1 {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }

    #theme-suggestions > a, #theme-input {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}


/** 
 * Styling for 'What is the theme system?'onboarding component on theme
 * creation page with hover and hyperlink to video.
 */
.dropdown{
    position: absolute;
    top:10px;
    right:40px;
    display: inline-block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content{
    display: none;
    position: absolute;
    right:1px;
    background-color: var(--light-bg);
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
#theme-onboarding {
    cursor: pointer;
}
/*Next button*/
#submit-theme {
    position: fixed;
    bottom: 30px;
    right: 30px;

    text-align: center;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.25rem;

    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.02);
}
#submit-theme:hover {
    background-color: var(--light-bg);
}