@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  font-family: 'Nunito', sans-serif;
}

:root {
  --main-bg: rgba(229, 229, 229, 1);
  --light-bg: #f9f9f9;
  --light-text: rgb(166, 169, 173);
  --dark-text: black;
}

body {
  background-color: var(--light-bg);
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: var(--light-bg);
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-title {
  font-size: xx-large;
  text-align: center;
  margin: 1rem;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEE4E1;
  height: 4rem;
  width: 4rem;
  border-radius: 1rem;
  transition: transform .3s cubic-bezier(0, .52, 0, 1);
  margin: 1rem;;
}

.menu > img {
  width: 3rem;
  height: 3rem;
}

.menu:hover {
  background-color: #CCB9B3;
  cursor: pointer;
}

#bar {
  width: 100vw;
  height: 2rem;
  background-color: var(--main-bg);
}

#tracker-body {
  overflow-y: scroll;
}

#add-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#add-label {
  font-size: large;
  margin: 1rem;
}

#add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #aeaeae;
  text-align: center;
  border-radius: 100%;
  height: 4rem;
  width: 4rem;
}

#add:hover {
  background-color: #8f8f8f;
  cursor: pointer;
}

#add p {
  color: white;
  font-size: xxx-large;
  font-weight: bold;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
  background-color: #efefef;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

#habit {
  border-radius: 1rem;
  width: 90%;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
}

#colorpicker {
  border-radius: 1rem;
  width: 20%;
  border: none;
  margin-bottom: 1rem;
}

/* The Close Button */
.close-form {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
  
.close-form:hover, .close-form:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit {
  display: flex;
  justify-content: flex-end;
}

#submitForm {
  border-radius: 5px;
  border: 1px solid #888;
}

#submitForm:hover {
  background-color: #A4A4A4;
  color: white;
  cursor: pointer;
}

#tracker-body {
  display: flex;
  flex-wrap: wrap;
}

tracker-elem {
  width: 30%;
  height: 50%;
  margin: 1rem;
}