@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #efefef;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE4E1;
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    margin: 1rem;;
}

.menu > img {
    width: 3rem;
    height: 3rem;
}

.menu:hover {
    background-color: #CCB9B3;
}

#nav {
    position: fixed;
    width: 25vw;
    height: 100vh;
    background-color: #EEE4E1;
    transform: translate3d(-100vw, 0, 0);
    transition: 1s;
    z-index: 1000;
    top: 0px;
    left: 0px;
    overflow: scroll;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-component {
    border-bottom: 1px solid #9A9A9A;
}

.nav-component > p {
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 49px;

    color: #000000;
}

.nav-component > p:hover {
    text-decoration: underline;
}

#nav.show {
    transform: translate3d(0vw, 0, 0);
    transition: .3s;
}

/* The Close Button */
.close-nav {
    position: absolute;
    color: #aaa;
    top: 8px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  
.close-nav:hover,
.close-nav:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

header {
    text-align: center;
}

.top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {   
    margin-top: -1rem;
    margin-bottom: -1rem;

    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;

    color: #000000;
}

.question {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;

    width: 100vw;

    color: #FFFFFF;
    background-color: #64A6BD;
}

.log-body {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}

.daily-log {
    text-align: center;
    position: relative;

    width: 60%;
    height: 100%;
}

.daily-log-title {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.daily-log-title > p {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    color: #000000;
}

.daily-log-form {
    height: 25rem;

    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;

    overflow: scroll;
}

.habits {
    text-align: center;

    width: 20%;
    height: 100%;
}

.habits > p {
    margin-top: -1rem;
    margin-bottom: 1rem;

    font-style: normal;
    font-weight: bold;
    font-size: 36px;

    color: #000000;
}

.habits-form {

    height: 25rem;

    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2.5rem;
}

.add-log{
    display: flex;
    height: 20%;
    width: 100%;
    background-color: #efefef;
    margin-top: 1rem;
}

.add {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: #64A6BD;
    border-style: none;
    color: #FFFFFF;
    font-size: xx-large;
    margin-right: 1rem;
    margin-left: 1rem;
}

.add:hover {
    background-color: #7AC9E4;
}

.add-log > p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    color: #A4A4A4;
    background-color: #efefef;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #efefef;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

#bullet {
    border-radius: 1rem;
    width: 90%;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

.selectors {
    display: flex;
}

.type {
    margin-right: 1rem;
}

#bullet-type {
    border-radius: 1rem;
    border: 1px solid #888;
    margin-bottom: 1rem;
    width: 100%;
}

#bullet-modifier {
    border-radius: 1rem;
    border: 1px solid #888;
    margin-bottom: 1rem;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

#submitForm {
    border-radius: 1rem;
    border: 1px solid #888;
}

#submitForm:hover {
    background-color: #A4A4A4;
    color: white;
}
  
/* The Close Button */
.close-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-form:hover,
.close-form:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

p.date {
    font-size: large;
}

/* tooltip on hover */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
