@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #efefef;
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-title {
    font-size: xx-large;
    text-align: center;
    margin: 1rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEE4E1;
    height: 5rem;
    width: 5rem;
    left: 5rem;
    top: 5rem;
    border-radius: 1rem;
    transition: transform .3s cubic-bezier(0, .52, 0, 1);
    margin: 1rem;;
}

.menu > img {
    width: 3.5rem;
    height: 3.5rem;
}

.menu:hover {
    background-color: #CCB9B3;
}

#nav {
    position: fixed;
    width: 25vw;
    height: 100vh;
    background-color: #EEE4E1;
    transform: translate3d(-100vw, 0, 0);
    transition: 1s;
    z-index: 1000;
    top: 0px;
    left: 0px;
    overflow: scroll;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-component {
    border-bottom: 1px solid #9A9A9A;
}

.nav-component > p {
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 49px;

    color: #000000;
}

.nav-component > p:hover {
    text-decoration: underline;
}

#nav.show {
    transform: translate3d(0vw, 0, 0);
    transition: .3s;
}

/* The Close Button */
.close-nav {
    position: absolute;
    color: #aaa;
    top: 8px;
    right: 15px;
    font-size: 28px;
    font-weight: bold;
  }
  
.close-nav:hover,
.close-nav:focus {
color: black;
text-decoration: none;
cursor: pointer;
}

#bar {
    width: 100vw;
    height: 2rem;
    background-color: #64A6BD;
}

#grid1 {
    display: grid;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
    margin: 2rem;
    height: 100vh;
}

#add-div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#add-label {
    font-size: xx-large;
    margin: 1rem;
}

#add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #aeaeae;
    text-align: center;
    border-radius: 1.5rem;
    flex-grow: 1;
}

#add:hover {
    background-color: #8f8f8f;
}

#add p {
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content/Box */
.modal-content {
    background-color: #efefef;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 20px;
}

#habit {
    border-radius: 1rem;
    width: 90%;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

#color {
    border-radius: 1rem;
    width: 90%;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* The Close Button */
.close-form {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close-form:hover,
.close-form:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit {
    display: flex;
    justify-content: flex-end;
}

#submitForm {
    border-radius: 5px;
    border: 1px solid #888;
}

#submitForm:hover {
    background-color: #A4A4A4;
    color: white;
}

tracker-elem {
    display: flex;
}